---
layout: default
---

{% assign posts = site.posts | sort:"order" %}
<div class="posts layout">
    <table class="table list">
        <thead>
            <tr>
                <th>
                    <div>Articles</div>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts reversed %}
            {% if post.categories contains page.category %}
            <tr>
                <td>
                    <a href="{{ site.baseurl }}{{ post.url }}"
                        class="{% if page.url == post.url %} active{% endif %}">{{ post.title }}</a>
                </td>
                <td class="date">{{ post.date | date: "%Y-%m-%d" }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>